{% extends "expenses/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'expenses/css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-lg-5 col-md-7">

        <div class="card shadow">

            <div class="card-body">

                <h2 class="text-center mb-4">
                    Welcome Back
                </h2>

                <p class="text-center text-muted mb-4">
                    Login to continue.
                </p>

                {% if form.errors %}
                <div class="alert alert-danger">
                    Invalid username or password.
                </div>
                {% endif %}

                {% if form.errors %}

                <div class="alert alert-danger">

                    {{ form.errors }}

                </div>

                {% endif %}

                <form method="post">

                    {% csrf_token %}

                    <div class="mb-3">

                        <label class="form-label">
                            Username
                        </label>

                        {{ form.username }}

                    </div>

                    <div class="mb-4">

                        <label class="form-label">
                            Password
                        </label>

                        {{ form.password }}

                    </div>

                    <div class="d-grid">

                        <button type="submit"
                                class="btn btn-primary btn-lg">

                            Login

                        </button>

                    </div>

                </form>

                <hr>

                <div class="text-center">

                    Don't have an account?

                    <a href="{% url 'register' %}">
                        Register
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}