{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AI Expense Tracker</title>

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Custom CSS -->

    <link rel="stylesheet"
          href="{% static 'expenses/css/base.css' %}">

    {% block extra_css %}
    {% endblock %}

</head>

<body class="bg-light">

{% include "expenses/partials/navbar.html" %}

<div class="container mt-4">

    <!-- Django Messages -->

    {% if messages %}

        {% for message in messages %}

            <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                 role="alert">

                {{ message }}

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert">
                </button>

            </div>

        {% endfor %}

    {% endif %}

    {% block content %}
    {% endblock %}

</div>

<!-- Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom JS -->

<script src="{% static 'expenses/js/auth.js' %}"></script>

</body>

</html>